$body-bg: #ffffff;
$text: #000000;
$primary: #484870;
$primary-text: #ffffff;
$button: #7979BD;
$button-text: #ffffff;
$button-hover: darken($button, 10%);
$gutter: 1rem;
$border: #27273D;
$radius: 4px;
$transition: .4s;
$header-height: 6rem;
$input-height: 5rem;