$white: #ffffff;
$black: #000000;
$body-bg: $white;
$text: $black;
$primary: #484870;
$button: lighten($primary, 15%);
$primary-text: $white;
$button-text: $white;
$button-hover: darken($button, 10%);
$gutter: 1rem;
$border: darken($primary, 20%);
$radius: .4rem;
$transition: .4s;
$header-height: 6rem;
$input-height: 5rem;