html {
	font-size: 10px;
	scroll-behavior: smooth;
}

body {
	font-size: 14px;
	overflow: hidden;
	background-color: var(--body-bg);
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background: var(--body-bg);
}

::-webkit-scrollbar-thumb {
	background: var(--primary);
	border-radius: var(--radius);
}
