* {
}

html {
	font-size: 10px;
	scroll-behavior: smooth;
}

body {
	font-size: 14px;
	overflow: hidden;
	background-color: $body-bg;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background: #ffffff;
}

::-webkit-scrollbar-thumb {
	background: $primary;
	border-radius: $radius;
}
