footer {
	background: $primary;
	padding: 0 $gutter;
	background-color: $primary;
	@media (max-width: 576px) {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: ($input-height + ($gutter * 2));
	}
}

#form {
	padding: $gutter 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	input[type="text"] {
		height: $input-height;
		border: 1px solid $border;
		font-size: 1.4rem;
		border-radius: $radius;
		padding: 0 1rem;
		transition: $transition;
		font-family: inherit;
		&:focus,
		&:active {
			border-color: $primary;
			box-shadow: none;
			outline: 0;
		}
		&#username {
			flex: 1 0 0;
			max-width: 100%;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			@media (max-width: 576px) {
				flex: 0 0 100px;
				max-width: 100px;
			}
		}
		&#message {
			flex: 3 0 0;
			max-width: 100%;
			margin-left: -1px;
			border-radius: 0;
			@media (max-width: 576px) {
				flex: 1 1 auto;
				max-width: none;
			}
		}
	}
	button {
		font-family: inherit;
		height: $input-height;
		font-size: 1.4rem;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $button;
		color: $primary-text;
		border: 1px solid $border;
		border-radius: $radius;
		transition: $transition;
		cursor: pointer;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		margin-left: -1px;
		&:after {
			content: ' post';
			margin-left: 5px;
		}
		&:hover {
			background-color: $button-hover;
		}
		&:disabled {
			opacity: 0.5;
		}
		@media (max-width: 576px) {
			width: $input-height;
			&:after {
				display: none;
			}
		}
	}
}