footer {
	background: var(--primary);
	padding: 0 var(--gutter);
	background-color: var(--primary);
	@media (max-width: 576px) {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: (var(--input-height) + var(--gutter) + var(--gutter));
	}
}

#form {
	padding: var(--gutter) 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	input[type="text"] {
		background-color: var(--input-bg);
		height: var(--input-height);
		border: 1px solid var(--border);
		font-size: 1.4rem;
		border-radius: var(--radius);
		padding: 0 1rem;
		transition: var(--transition);
		font-family: inherit;
		color: var(--input-text);
		&:focus,
		&:active {
			border-color: var(--primary);
			box-shadow: none;
			outline: 0;
		}
		&#username {
			flex: 1 0 0;
			max-width: 100%;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			@media (max-width: 576px) {
				flex: 0 0 100px;
				max-width: 100px;
			}
		}
		&#message {
			flex: 3 0 0;
			max-width: 100%;
			margin-left: -1px;
			border-radius: 0;
			@media (max-width: 576px) {
				flex: 1 1 auto;
				max-width: none;
			}
		}
		&::placeholder {
			opacity: 1;
			color: var(--input-placeholder);
		}
	}
	button {
		font-family: inherit;
		height: var(--input-height);
		font-size: 1.4rem;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: var(--button);
		color: var(--button-text);
		border: 1px solid var(--border);
		border-radius: var(--radius);
		transition: var(--transition);
		cursor: pointer;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		margin-left: -1px;
		&:after {
			content: ' post';
			margin-left: 5px;
		}
		&:hover {
			background-color: var(--button-hover);
		}
		&:disabled {
			opacity: 0.5;
		}
		@media (max-width: 576px) {
			width: var(--input-height);
			&:after {
				display: none;
			}
		}
	}
}