#wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 $gutter;
	height: 100%;
}

header {
	height: $header-height;
}

@import "header";

main {
	height: calc(100% - $header-height);
	position: relative;
}

#result {
	overflow: auto;
	border: 1px solid $border-color;
	padding: 15px;
	height: calc(100% - 70px);
}

@import "messages";
@import "form";