#messages {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-end;
	flex-wrap: nowrap;
	min-height: 100%;
	.message-bubble {
		padding: $gutter $gutter*3;
		border-radius: $radius-base;
		background-color: $primary-color;
		background: linear-gradient(90deg, #ffffff 0%, $primary-color 50%, #ffffff 100%);
		color: $primary-text-color;
		font-size: 1.4rem;
		position: relative;
		margin-bottom: $gutter;
		text-align: center;
		&:last-child {
			margin-bottom: 0;
		}
		.user {
			font-size: 1.3rem;
			font-weight: 700;
			transform: translateX(-15px);
			&:after {
				content: ' -'
			}
		}
		.message {
			font-style: italic;
			word-break: break-word;
			&:after {                                                       
				content: close-quote;
				vertical-align: bottom;
			  }
			  
			  &:before {
				content: open-quote;
				vertical-align: top;
			  }
		}
	}
}