#messages {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	flex-wrap: nowrap;
	min-height: 100%;
	.message-bubble {
		padding: $gutter $gutter*3;
		border-radius: $radius;
		background-color: $primary;
		color: $primary-text;
		position: relative;
		margin: 0 $gutter $gutter;
		&:last-child {
			margin-bottom: 0;
		}
		.user {
			font-size: 1.3rem;
			font-weight: 700;
			transform: translateX((-$gutter));
			&:after {
				content: ' -'
			}
		}
		.message {
			font-style: italic;
			word-break: break-word;
			&:after {                                                       
				content: close-quote;
				vertical-align: bottom;
			  }
			  
			  &:before {
				content: open-quote;
				vertical-align: top;
			  }
		}
	}
}