<footer>
	<div id="form">
		<input type="text" id="username" placeholder="who" autocomplete="off" required>
		<input type="text" id="message" placeholder="what" autocomplete="off" required>
		<button type="submit" id="button">🚽</button>
	</div>
</footer>