{% extends 'base.html.twig' %}

{% block body %}
    <div id="border" style="border: 2px outset green;  height: 600px;">
    </div>
    <form id="test" method="post" >
        <div class="form-group">
            <label for="formGroupExampleInput">Kullanıcı adı</label>
            <input type="text" class="form-control" name="username" id="username" placeholder="kullanıcı adı">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">mesaj</label>
            <input type="text" class="form-control" id="message" name="message" placeholder="mesaj">
        </div>
        <button type="submit" id="button" class="btn btn-success">submit</button>
    </form>
{% endblock %}
{% block script %}
    <style>

    </style>
{% endblock %}


