{% extends 'base.html.twig' %}
{% block body %}
<div id="wrapper" class="dd">
	<div class="container">
		{% include 'snippets/header.twig' %}
		<main>
			<div id="result">
				<div id="messages"></div>
			</div>
			<div id="form">
				<input type="text" id="username" placeholder="who">
				<input type="text" id="message" placeholder="what">
				<button type="submit" id="button">🚽</button>
			</div>
		</main>
		<audio id="message" src="{{ asset('mp3/message.mp3') }}"></audio>

	</div>
</div>
{% endblock %}