{% extends 'base.html.twig' %}

{% block body %}
<div id="border"></div>
<label for="formGroupExampleInput">Kullanıcı adı</label>
<input type="text" id="username" placeholder="kullanıcı adı">
<label>mesaj</label>
<input type="text" id="message" placeholder="mesaj">
<button type="submit" id="button" class="btn btn-success" onclick="fetchData()">submit</button>
{% endblock %}